img {
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

.app-container {
  height: 100%;
  overflow: auto;
  background: #F5F6FA;
}